footer {
    margin-top: 120px;
    padding: 28px 50px 90px;
    background-color: #3d3d3d;
    border-top: 1px solid #c2c2c2;
    border-right: 0px solid #c2c2c2;
    border-bottom: 0px solid #c2c2c2;
    border-left: 0px solid #c2c2c2;
    max-width: 1200px;
    margin: 120px auto 0;
    font-family: Lato, Verdana, Arial;
    position: relative;
    min-height: 204px;
    .left-side {
        >.row-fluid-wrapper.row-depth-1.row-number-3 {
            >.row-fluid {
                .footer-menu {
                    max-width: 430px;
                    .hs-menu-wrapper.hs-menu-flow-horizontal {
                        >ul {
                            display: flex;
                            li {
                                padding-right: 23px;
                                padding-left: 20px;
                                border-right: 1px solid #969593;
                                font-size: 18px;
                                line-height: 25px;
                                &:first-child {
                                    padding-left: 0;
                                }
                                &:last-child {
                                    padding-right: 0;
                                    border-right: 0px;
                                }
                                a {
                                    padding: 0;
                                    text-decoration: none;
                                    color: #969593;
                                }
                            }
                        }
                    }
                    @media (max-width: 930px) {
                    	float: none;
                    	display: block;
                    	margin-left: 0 !important;
                    }
                }
                .social-icons {
                    margin-left: 15px !important;
                    .socials-wrapper {
                        color: #969593;
                        span {
                            font-size: 13px;
                            line-height: 13px;
                            font-weight: bold;
                            display: inline-block;
                            padding-top: 8px;
                            padding-right: 10px;
                            padding-left: 45px;
                            float: left;
                        }
                        ul {
                            float: left;
                            margin-top: 0;
                            padding-left: 0;
                            li {
                                a{
                                     font-size: 0px;
                                     visibility: hidden;
                                }
                                padding-left: 10px;
                                display: inline-block;
                                img {
                                    height: 30px;
                                    width: 30px;
                                }
                                i {
                                    visibility: visible;
                                    font-size: 19px;
                                    color: #969593;
                                }
                            }
                        }
                    }
                    @media (max-width: 930px) {
                    	float: none;
                    	display: block;
                    	margin-left: 0 !important;
                    	.socials-wrapper {
                    		padding-top: 15px;
                    		span {
                    			padding-left: 0;
                    		}
                    	}
                    }
                    @media (max-width: 720px) {
                    	.socials-wrapper {
                    		span {
                    			display: none;
                    		}
                    		ul {
                    			float: none;
                    			text-align: center;
                    			li {
                    				img {
                    					width: 50px;
                    					height: 50px;
                    				}
                    			}
                    		}
                    	}
                    }
                }
            }
        }
    }
    .logo-footer {
        position: absolute;
        top: 28px;
        right: 50px;
        max-width: 185px;
        img {
            float: right;
        }
    }
    .copyright {
        margin-top: 22px;
        span {
            font-size: 13px;
            line-height: 21px;
            color: #969593;
        }
    }
    @media (max-width: 1150px) {
    	padding-right: 25px;
    	padding-left: 25px;
    }
    @media (max-width: 720px) {
    	margin-top: 50px;
    	padding-bottom: 25px;
    	.logo-footer {
    		img {
    			display: none;
    		}
    	}
    	.left-side {
            max-width: 100%;
    		>.row-fluid-wrapper.row-depth-1.row-number-3 {
    			>.row-fluid {
		    		.footer-menu {
		    			max-width: 100%;
		    			.hs-menu-wrapper.hs-menu-flow-horizontal {
		    				ul {
								justify-content: center;
								max-width: 255px;
								margin: 0 auto;
								li {
								    font-size: 13px;
    								line-height: 17px;
                                    @media (max-width: 400px) {
                                        padding: 0 10px;
                                    }
								}
		    				}
		    			}
		    		}
    			}
    		}
    	}
    	.social-icons {
    		.socials-wrapper {
    			span {
    				display: none;
    			}
    		}
    	}
	    .copyright {
	        text-align: center;
	    }
    }
}
.landing--book {
    footer {
        .left-side {
            max-width: 100%;
        }
    }
}
