.container {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}
.container-inner{
	padding: 0 50px;
	@media (max-width: 800px) {
		padding: 0 20px;
	}
}
.container-smaller {
    max-width: 1100px;
}
.redesign {
	.container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 50px;
		@media (max-width: 1150px) {
			padding: 0 25px;
		}
	}
	.body-container-wrapper {
		min-height: calc(100vh - 344px);
		@media (max-width: 650px) {
			min-height: calc(100vh - 204px);
		}

	}
	footer {
		min-height: 180px;
		margin-top: 70px;
	}
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
body,
a,
h1,
h2,
h3,
h4,
h5,
p,
span,
div,
ul,
li,
input,
span,
textarea {
    margin: 0px;
    padding: 0px;
    outline: none;
	span {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
	}
}
.body-container-wrapper {
	min-height: calc(100vh - 374px);
	@media (max-width: 650px) {
		min-height: calc(100vh - 254px);
	}
}



// SLICK SLIDER
.slick-dots{
	bottom: 10px;
	opacity: 0;
	transition: all 0.3s linear;
	li{
		margin: 2px;
		button{
			&:before{
				width: 20px;
				height: 20px;
				border-radius: 50%;
				opacity: 1;
				content: "";
				background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/Images/Custom%20Modules/Slider/bullet.png');
			}
			&:hover{
				&:before{
					background-position: center bottom;
				}
			}
		}
	}
	li.slick-active{
		button {
			&:before {
				background-position: center bottom;
				opacity: 1;
			}
		}
	}
}

// progresbar for sldier
.progress {
  width: 0%;
  height: 10px;
  position: absolute;
  background-image: url('//cdn2.hubspot.net/hubfs/2958970/CR%20Templates/Images/Custom%20Modules/Slider/timer.png');
  background-repeat: repeat-x;
  top: 0px;
}

.widget-span.cookie-disclaimer {
	min-height: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.5);
	transition: all .3s linear;
	z-index: 5000;

	#cookie-info {
		max-width: 1200px;
		margin: auto;
		text-align: center;
		p {
			color: #fff;
		    font-size: 14px;
		    line-height: 1.5em;
		    font-weight: 400;
		    margin: 30px 0px;
		}
		a {
			display: inline-block;
			margin: 0 auto 30px;
			padding: 10px 30px;
            background-color: #fff;
            color: $secondary_color;
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            line-height: 1.5em;
            font-weight: bold;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            text-decoration: none;
            transition: .3s all ease-in-out;
            appearance: none;
            border: 0;
            border-radius: 5px;
            &:hover {
                cursor: pointer;
                color: $secondary_color;
                background-color: #e7e7e7;
            }
        }
	}
}
.sidebar {
    a.cta_button {
        display: inline-block;
        word-wrap: break-word;
        white-space: normal;
        word-break: break-word;
        max-width: 350px;
        text-align: center;
    }
}
