#__bs_notify__ {
    display: none !important;
}

.mobile-menu-overlay {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    position: fixed;
    z-index: 50;
}
body.redesign {
    .header-container-wrapper .widget-type-menu .hs-menu-wrapper > ul li.hs-menu-depth-1 a {
        text-decoration: none !important;
    }
}
.slicknav_menu {
    display:none;
}
@media screen and (max-width: 767px) {
    .header-container-wrapper {
        display:none;
    }
    .slicknav_menu {
        display: block;
    }
}
.header-container-wrapper {
    z-index: 9999;
    @media (max-width: 1150px) {
        margin-left: 20px;
    }
    .second-menu {
        @media (max-width: 992px) {
            text-align: right;
            margin-right: 10px;
        }
        > div {
            display: inline-block;
            > ul {
                margin: 0;
                list-style: none;
                padding: 0;
                margin-bottom: 12px;
                > li {
                    display: inline-block;
                    padding-right: 10px;
                    padding-left: 7px;
                    border-right: 1px solid #969593;
                    display: inline-block;
                    zoom: 1;
                    font-size: 10px;
                    color: #e32c49;
                    line-height: 10px;
                    font-family: 'Montserrat', sans-serif;
                    &:first-child {
                        padding-left: 0;
                    }
                    > a {
                        font-family: 'Montserrat', sans-serif;
                        padding: 0;
                        display: inline-block;
                        font-size: 10px;
                        text-decoration: none !important;
                        color: #58585a;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        line-height: 16px;
                        &:hover {
                            text-decoration: none !important;
                        }
                    }
                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }
        .second-menu-links {
            margin-top: 8px;
            margin-right: 38px;
        }
        .secound-menu-languages {

        }
    }
    .widget-type-menu {
        @media (max-width: 992px) {
            width: 100%;
        }
        .hs-menu-wrapper {
            > ul {
                margin: 0;
                padding: 0;
                list-style: none;
                margin-bottom: 0.8em !important;
                li.hs-menu-depth-1 {
                    display: inline-block;
                    margin-right: 34px;
                    @media (max-width: 1050px) {
                        margin-right: 25px;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        font-family: 'Montserrat', sans-serif;
                        display: block;
                        position: relative;
                        padding: 0;
                        font-size: 14px;
                        line-height: 16px;
                        text-decoration: none;
                        color: #58585a;
                        text-transform: uppercase;
                        letter-spacing: 1.75px;
                        font-weight: 400;
                        @media (max-width: 1150px) {
                            font-size: 13px;
                        }
                        &:hover {
                            color: rgba(227,44,73,.5);
                        }
                    }
                    > ul.hs-menu-children-wrapper {
                        // margin-top: 3px;
                        margin-left: -25px;
                        padding: 19px 0 20px;
                        background-color: #fff;
                        min-width: 12em;
                        position: absolute;
                        // display: none;
                        top: 100%;
                        left: 0;
                        z-index: 2147483647;
                        > li {
                            margin-right: 25px;
                            margin-left: 25px;
                            padding: 6.5px 0;
                            background-color: #fff;
                            &:first-child {
                                padding-top: 11px;
                                border-top: 2px solid #d9d9d9;
                            }
                        }
                        > li.hs-menu-depth-2 {
                            &.active-branch {
                                a {
                                    color: #e32c49;
                                }
                            }
                            ul.hs-menu-children-wrapper {
                                display: none;
                            }
                        }
                    }
                    &.active-branch {
                        > a {
                            color: #e32c49;
                        }
                        .active {
                            > a {
                                cursor: default;
                                color: #e32c49;
                            }
                        }
                    }
                }
            }
        }
    }
    .widget-type-logo {
        position: relative;
        margin-left: 0;
        float: right;
        @media (max-width: 992px) {
            position: absolute;
            top: -30px;
            left: 5px;
        }
        img {
            max-width: 252px;
            bottom: 12px;
            right: 0;
            position: absolute;
            @media (max-width: 1150px) {
                max-width: 175px;
                right: 20px;
            }
            @media (max-width: 992px) {
                right: inherit;
                left: -10px;
                top: 0;
            }
        }
    }
}

.slicknav_menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 76px;
    background: #fff;
    margin: 0;
    padding: 0;
    box-shadow: 0px 10px 7px -7px rgba(0,0,0,0.5);
    z-index: 9999;
    .slide {
        box-shadow: 0px 10px 7px -7px rgba(0,0,0,0.5);
    }
    .mobile-logo {
        float: left;
        width: 175px !important;
        position: static;
        margin-top: 25px;
        margin-left: 25px;
        padding-bottom: 10px;
    }
    .slicknav_btn {
        float: right;
        min-width: 70px;
        background: transparent;
        i {
            right: 20px;
            top: 16px;
            position: absolute;
            display: block;
            font-size: 33px;
            color: #58585a;
        }
        .slicknav_icon-bar {
            display: none;
        }
        .slicknav_icon {
            height: 50px;
        }
    }
    .slicknav_nav {
        background: rgb(236, 236, 236);
        max-height: calc( 100vh - 76px);
        overflow: scroll;
        .slicknav_row:hover {
            border-radius: 0;
        }
        a {
            padding-top: 10px;
            padding-bottom: 10px;
            color: rgba(0,0,0,0.6) !important;
            &:hover {
                border-radius: 0;
                text-decoration: none;
            }
        }
        > a {
            padding-left: 0;
            a {
                padding-left: 10px;
            }
        }
        span {
            color: rgba(0,0,0,0.6);
        }
        > li {
            list-style: none;
            display: block;
            padding: 0;
            margin: 0;
            border-radius: 0;
            > a {
                color: rgba(0,0,0,0.6);
                font-size: 14px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                line-height: 20px;
                display: block;
                padding: 10px 10px 10px 20px;
                margin: 0;
                text-decoration: none;
            }
        }
    }
}
#sticky-wrapper {
    height: 82px;
    position: relative;
    z-index: 9999;
}
.scrolled-menu {
    padding-top: 35px;
    background: #fff;
}
.is-sticky {
    width: 100%;
    .scrolled-menu {
        position: fixed;
        left: 0;
        right: 0;
        width: 100% !important;
        padding-top: 35px;
        background: #fff;
        box-shadow: 0px 10px 7px -7px rgba(0,0,0,0.5);
        > div {
            max-width: 1100px;
            margin: 0 auto;
            .hs-menu-wrapper {
                > ul {
                    @media (max-width: 1150px) {
                        margin-left: 20px;
                    }
                }
            }
        }
    }
    .widget-type-logo {
        img {
            @media (max-width: 992px) {
                max-width: 80px;
                top: -5px;
                left: -7px;
            }
        }
    }
}
.header-landing {
    height: 60px;
    position: relative;
    .widget-type-logo {
        position: absolute;
        left: 0px;
        bottom: 10px;
        right: auto;
        top: auto;
        img {
            position: absolute;
            left: 0;
            top: auto;
            right: auto;
            bottom: 0;
        }
    }
}
body.no-nav {
    @media screen and (max-width: 767px) {
        .header-container-wrapper {
            display:block;
            margin-left: 0;
        }
        .slicknav_menu {
            display: none;
        }
    }
    &.flexible {
        @media (max-width: 767px) {
            section.hero-banner-small {
                margin-top: 0px;
            }
        }
    }
    .footer-container-wrapper {
        display: none;
    }
}
