$browser-context: 19; // Default
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Grande', 'Lato', sans-serif;
    background-color: #fff;
    font-size: 19px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
    margin: 20px 0px;
}

h2 {
    font-size: 26px;
    line-height: 30px;
    color: $font_color;
    font-weight: 300;
}

.widget-type-rich_text {
    p {
        font-size: 19px;
        font-weight: 400;
        color: #58585a;
        line-height: 30px;
        margin: 20px 0px;
        margin: 0 0 12px;
        color: #58585a;
        font-size: 19px;
        line-height: 30px;
    }
    a,
    a:visited,
    a:focus,
    a:active {
        text-decoration: underline;
        color: #7f817f;
    }
    a:hover {}
}

body.redesign {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Grande', 'Lato', sans-serif;
    background-color: #fff;
    overflow-x: hidden;
    font-size: 19px;
    color: $font_color;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    h5,
    h6 {
        font-family: 'Lato', sans-serif;
        margin: 20px 0px;
        line-height: 1.5em;
        letter-spacing: -0.25px;
        span {
            color: $secondary_color;
        }
    }
    h1 {
        font-size: em(27);
    }
    h2,
    .h2 {
        font-size: em(27);
        font-weight: 500;
    }
    h3,
    .h3 {
        font-size: em(24);
        font-weight: 500;
    }
    .h3 {
        display:inline-block;
    }
    h4 {
        font-size: em(22);
    }
    p {
        font-size: em(18);
        line-height: 1.5em;
        font-weight: 400;
        color: $font_color;
        margin: 30px 0px;
    }
    a,
    a:visited,
    a:focus,
    a:active {
        color: $secondary_color;
    }
    a:hover {
        text-decoration: underline;
    }
    ul {
        list-style-type: none;
    }
    ol {
        padding-left: 90px;
        li {        
            font-size: em(18);
            line-height: 1.5;
            font-weight: 400;
            color:#e0493d;
            padding-left:10px;
            span {
                color: #474747;
            }         
        }
    }
    .widget-type-rich_text {
        p {
            // font-size: em(18);
            // line-height: 1.5em;
            font-weight: 400;
            color: $font_color;
            margin: 30px 0px;
            letter-spacing: -0.25px;
            // margin: 0 0 12px;
            // color: #58585a;
            font-size: 19px;
            line-height: 30px;
        }
        ul {
            list-style-type: none;
            li {
                font-size: em(18);
                line-height: 1.5em;
                font-weight: 400;
                color: $font_color;
                margin: 20px 0px;
                padding-left: 30px;
                position: relative;
                &:before {
                    // content: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/bullet-img.png');
                    content: '• ';
                    // background-image: ;
                    color: $secondary_color;
                    background-position: center;
                    background-repeat: no-repeat;
                    position: absolute;
                    left: 0px;
                    height: 8px;
                    width: 8px;
                    top: -3px;
                    ;
                }
            }
        }
        a,
        a:visited,
        a:focus,
        a:active {
            color: $secondary_color;
            text-decoration: none;
        }
        a:hover {
            cursor: pointer;
            // border-bottom: 1px solid $secondary_color;
            text-decoration: underline;
        }
    }
    .widget-type-form {
        max-width: 520px;
        padding: 30px 50px 55px;
        background-color: $secondary_color;
        border-radius: 15px;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.36);
        .hs-form-required {
            display: none;
        }
        input,
        input[type="text"],
        select,
        textarea {
            border-radius: 10px;
            border: 1px solid #fff;
            margin-top: 8px;
            margin-bottom: 10px;
            font-family: 'Lucida Grande', 'Lato', sans-serif;
            font-size: em(18);
            line-height: 21px;
            background-color: $secondary_color;
            color: #fff;
            padding: 10px 15px;
        }
        textarea {
            resize: vertical;
            max-width: 100%;
        }
        input[type="radio"].hs-input {
            visibility: hidden;
            height: 25px;
            color: #fff;
            +span {
                &:before {
                    content: '';
                    position: absolute;
                    background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/radio_inactive.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    left: -7px;
                    top: -2px;
                    height: 25px;
                    width: 25px;
                }
            }
            &:checked {
                +span {
                    &:before {
                        background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/radio_active.png');
                    }
                }
            }
        }
        .hs-form-field {
            text-align: left;
            legend {
                font-size: 14px;
                color: #fff;
                font-style: italic;
                margin-top: 10px;
            }
        }
        .inputs-list li label {
            position: relative;
        }
        input[type="checkbox"].hs-input {
            visibility: hidden;
            height: 25px;
            +span {
                &:before {
                    content: '';
                    position: absolute;
                    background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/checkbox_inactive.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    left: -7px;
                    top: -2px;
                    height: 25px;
                    width: 25px;
                }
            }
            &:checked {
                +span {
                    &:before {
                        background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/checkbox_active-1.png');
                    }
                }
            }
        }
        .hs_submit {
            .actions {
                text-align: center;
                input[type="submit"] {
                    margin-top: 25px;
                    margin-bottom: 0px;
                    white-space: inherit;
                    @media (max-width: 400px) {
                        font-size: 10px;
                    }
                }
            }
        }
        select {
            position: relative;
            outline: none;
            background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/select-rect.png');
            background-repeat: no-repeat;
            background-position: right 15px top 50%;
        }
        input[type="submit"] {
            background-color: #fff;
            color: $secondary_color;
            font-family: 'Montserrat', sans-serif;
            font-size: em(14);
            line-height: 1.5em;
            font-weight: bold;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            transition: .3s all ease-in-out;
            appearance: none;
            &:hover {
                cursor: pointer;
                // color: #fff;
                color: $secondary_color;
                background-color: #e7e7e7;
            }
        }
        label.hs-form-radio-display,
        label.hs-form-checkbox-display {
            color: #fff;
            span {
                padding-left: 10px;
            }
        }
        .inputs-list.multi-container {
            margin-bottom: 18px;
        }
        select {
            appearance: none;
            color: rgba(255, 255, 255, 0.5);
        }
        label {
            color: #fff;
        }
        .hs-error-msgs {
            font-size: 14px;
            color: #fff;
            padding-top: 5px;
        }
        ::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.5);
            font-family: 'Lucida Grande', 'Lato', sans-serif;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-weight: 300;
        }
        ::-moz-placeholder {
            /* Firefox 18- */
            color: rgba(255, 255, 255, 0.5);
            font-family: 'Lucida Grande', 'Lato', sans-serif;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        :-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(255, 255, 255, 0.5);
            font-family: 'Lucida Grande', 'Lato', sans-serif;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        :-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.5);
            font-family: 'Lucida Grande', 'Lato', sans-serif;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        @media (max-width: 500px) {
            padding: 20px 25px 25px;
        }
    }
    .cta-primary {
        border-radius: 10px;
        border: 1px solid #fff;
        margin-top: 8px;
        margin-bottom: 10px;
        font-family: 'Lucida Grande', 'Lato', sans-serif;
        font-size: em(18);
        line-height: 21px;
        background-color: $secondary_color;
        color: #fff;
        padding: 10px 15px;
        text-decoration: none;
        transition: .2s all ease-in-out;
        text-transform: uppercase;
        &:hover {
            cursor: pointer;
            // color: #fff;
            color: $secondary_color;
            background-color: #e7e7e7;
            text-decoration: none !important;
        }
    }
    input,
    input[type="text"],
    select,
    textarea {
        border-radius: 10px;
        border: 1px solid #fff;
        margin-top: 8px;
        margin-bottom: 10px;
        font-family: 'Lucida Grande', 'Lato', sans-serif;
        font-size: em(18);
        line-height: 21px;
        background-color: $secondary_color;
        color: #fff;
        padding: 10px 15px;
    }
    textarea {
        resize: vertical;
        max-width: 100%;
    }
    input[type="radio"].hs-input {
        visibility: hidden;
        height: 25px;
        color: #fff;
        +span {
            &:before {
                content: '';
                position: absolute;
                background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/radio_inactive.png');
                background-position: center;
                background-repeat: no-repeat;
                left: -7px;
                top: -2px;
                height: 25px;
                width: 25px;
            }
        }
        &:checked {
            +span {
                &:before {
                    background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/radio_active.png');
                }
            }
        }
    }
    .inputs-list li label {
        position: relative;
    }
    input[type="checkbox"].hs-input {
        visibility: hidden;
        height: 25px;
        +span {
            &:before {
                content: '';
                position: absolute;
                background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/checkbox_inactive.png');
                background-position: center;
                background-repeat: no-repeat;
                left: -7px;
                top: -2px;
                height: 25px;
                width: 25px;
            }
        }
        &:checked {
            +span {
                &:before {
                    background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/checkbox_active-1.png');
                }
            }
        }
    }
    .hs-form-required {
        display: none;
    }
    input[type="submit"] {
        border-radius: 10px;
        border: 1px solid #fff;
        margin-top: 8px;
        margin-bottom: 10px;
        padding: 10px 15px;
        background-color: $secondary_color;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: em(14);
        line-height: 1.5em;
        font-weight: bold;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        transition: .3s all ease-in-out;
        appearance: none;
        &:hover {
            cursor: pointer;
            color: #fff;
            background-color: #e7e7e7;
        }
    }
}
