.error-template {
    .wrapper-404 {
        text-align: left;
        margin-top: 80px;
        @media (max-width: 767px) {
            padding-top: 100px;
        }
        .text-404 {
            width: 250px;
            margin: 0 auto;
            > div {
                float: none;
            }
            h2 {
                font-family: 'Montserrat', sans-serif;
                font-size: 130px;
                line-height: 110px;
                font-weight: 700;
                color: #e7e7e7;
                margin: 0;
            }
            span.desc-404 {
                font-family: 'Lato', sans-serif;
                display: inline-block;
                text-align: center;
                padding: 5px 0;
                width: 100%;
                background: #e7e7e7;
                color: #3d3d3d;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-size: 14px;
                font-weight: 700;
                margin-bottom: 35px;
            }
            p {
                font-family: 'Lato', sans-serif;
                color: #474747;
                font-size: 18px;
                line-height: 30px;
                text-align: left;
                margin: 0;
                font-weight: 500;
                &:last-of-type {
                    margin-bottom: 30px;
                }
            }
            button {
                text-align: left;
                margin-top: 20px;
            }
            a {
                &.cta-primary {
                    color: #fff;
                    transition: .3s linear;
                    font-family: Montserrat;
                    text-transform: uppercase;
                    font-size: em(14);
                    line-height: 21px;
                    letter-spacing: 1.2px;
                    &:hover {
                        text-decoration: none !important;
                    }
                }
            }
        }
    }
}