// Custom modul 
.cr-single-person-v2 {
    background-color: #f0f0f0;
    min-height: 266px;
    width: 100%;
    display: flex;
    margin-bottom: 46px;
    flex-wrap: wrap;
    .left {
        width: 50%;
        background-position: center center;
        background-size: cover;
        min-height: 266px;
        @media (max-width: 1024px) {
            width: 40%;
        }
        @media (max-width: 800px) {
            width: 100%;
        }
    }
    .right {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 35px;
        @media (max-width: 1024px) {
            width: 60%;
        }
        @media (max-width: 800px) {
            width: 100%;
        }
        h2 {
            font-size: 20px;
            line-height: 27px;
            font-weight: 900;
            margin: 0px;
        }
        p {
            font-family: 'Lato';
            color: #58585a;
            margin-top: 12px;
            a {
                text-decoration: underline;
                color: #7f817f;
                font-weight: 600;
            }
            &:last-of-type {
                margin-top: 10px;
            }
            &:first-of-type {
                margin-bottom: 15px;
            }
        }
    }
}

// IE 11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .cr-single-person-v2{
      // height: 266px;
      min-height: 266px;
    } 
     .cr-single-person-v2 .left{
      // height: 266px;
      min-height: 266px;
    } 
     .two-column-wrapper .cr-single-person-v2{
      height: auto;

      
    }  
}
// EDGE
@supports (-ms-ime-align:auto){ 
			
	   
     .cr-single-person-v2{
      height: 266px;
    } 
     .cr-single-person-v2 .left{
      height: 266px;
    } 
     .two-column-wrapper .cr-single-person-v2{
      height: auto;
    }  
}

// PAGE
.contact-v2 {
    h2 {
        margin-bottom: 30px;
    }
    .two-column-wrapper >span {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        & > div {
            width: 47.5%;
            @media (max-width: 1024px) {
	            width: 100%;
	        }
        }
        .left,
        .right {
            width: 100%;
        }
    }
}
