.contact{
	.hero-banner-small{
		margin-bottom: 45px;
		@media screen and (max-width: 767px) {
	    	margin-top: 76px;
	    }
	}
	.cr-single-person {
		.left {
			img {
				max-width: 300px;
				@media (max-width: 330px) {
					max-width: 100%;
				}
			}
		}
	}
	h2{
		font-size: 20px;
	    line-height: 27px;
	    font-weight: 600;
	}
	.form-title{
		font-size: 20px;
	    line-height: 27px;
	    color: #58585a;
	    font-weight: 500;
	    margin-bottom: 12px;
	    font-weight: 600;
	}
	form{
		input{
			width: 100%;
		    padding: 4px 5px;
		    background-color: #f1f1f3;
		    border: 1px solid #dfdfe1;
		    border-radius: 0;
		    font-size: 14px;
		    color: #58585a;
		    box-shadow: none;
		}

		input[type="submit"]{
		    display: inline-block;
		    padding: 4px 15px 4px 14px;
		    margin-bottom: 0;
		    text-align: center;
		    vertical-align: middle;
		    line-height: 16px;
		    font-size: 11px;
		    color: #000;
		    cursor: pointer;
		    border: 1px solid #ccc;
		    border-radius: 3px;
		    background-color: #ececec;
		    background-image: -moz-linear-gradient(top,#fff,#ececec);
		    background-image: -webkit-linear-gradient(top,#fff,#ececec);
		    background-image: -ms-linear-gradient(top,#fff,#ececec);
		    background-image: -o-linear-gradient(top,#fff,#ececec);
		    background-image: linear-gradient(to bottom,#fff,#ececec);
		    background-repeat: repeat-x;
		    transition: background .15s linear;
		    width: auto;
		    color: #e32c49;
	    	text-transform: uppercase;
	    	float: right;
	    	margin-top: 5px;
	    	&:hover{
			    text-decoration: none;
			    background-position: 0 -15px !important;
			}
		}


		select,textarea {
		    width: 100%;
		    padding: 4px 5px;
		    background-color: #f1f1f3;
		    border: 1px solid #dfdfe1;
		    border-radius: 0;
		    font-size: 14px;
		    color: #58585a;
		    box-shadow: none;
		    border-radius: 0;
		    //  -webkit-appearance: none;
		    // -moz-appearance: none;
		    // appearance: none;
		    // min-height: 100px;
		    min-height: 31px;
		}
		textarea {
			min-height: 80px;
		}

		label{
			color: #7f817f;
			font-size: 15px;
			line-height: 25px;
			font-weight: 600;
			font-family: 'Lato';
		}
		.hs-error-msgs{
			list-style: none;
			li{
				label{
					color: red;
					font-weight: 300;
					a{
						color: red;
						font-weight: 300;
					}
				}

			}
		}

	}
}