.event-calendar {
    font-family: Lato, Verdana, Arial;

    .body-container-wrapper {

        .container-inner {
            // overflow: hidden;
        }
    }
    .event-calendar-desc {
        p {
            margin: 70px 0 30px;
            font-size: 26px;
            line-height: 30px;
            color: #58585a;
            font-weight: 300;
        }
    }
    .widget-type-widget_container {
        display: none;
    }
    .event-table-header {
        h4 {
            margin: 0;
            margin-bottom: 12px;
            font-size: 20px;
            line-height: 27px;
            font-weight: bold;
            color: #58585a;
        }
    }
    .table-responsive {
        max-width: 100%;
        overflow: auto;
    }
    table.event-table {
        width: 100%;
        margin-bottom: 35px;
        tr {
            td {
                padding: 5px 10px;
                vertical-align: top;
                border: 1px solid #d7d7d7;
                color: #58585a;
                // border-collapse: collapse;
                a {

                    text-decoration: underline;
                    color: #7f817f;
                }
                &:last-child {
                    min-width: 100px;
                    img {
                        margin: 0 auto;
                        display: block;
                    }
                }
                @media screen and (max-width: 767px) {
                    font-size: 14px;
                    // &:last-child {
                    //     min-width: 60px;
                    // }
                }
            }
            &:hover {
                background-color: rgba(232,232,232,.25);
            }
        }
        thead {
            background-color: rgba(232,232,232,.8);
            color: #58585a;

            tr {
                td {
                    // height: 45px;
                    padding: 10px 10px;
                    vertical-align: center;
                }
            }
        }
        tbody {
            tr {
                td {

                }
            }
        }
         .table-header {
             border:none;
            td {
                border: none;
                padding:20px 0;
            }
            &:hover {
                background: white;
            }
        }
    }
    .event-calendar-bottom-links {
        a {
            text-decoration: underline;
            color: #7f817f;
            font-size: 19px;
        }
    }
}

.full-width-page {
    .full-width-page-header {
        h2 {

        }
    }
    .full-width-page-text {
        margin-top: 10px;
        img {
            height: auto;
            @media screen and (max-width: 767px) {
                margin: 0 auto;
                display: block;
            }
            @media screen and (min-width: 768px) {
                margin-right: 30px;
                float: left;
            }
        }
        p {
            span.date-time {
                font-style: italic;
            }
        }
    }
}












