.flexible {
	@media (max-width: 767px) {
		section.hero-banner-small {
			margin-top: 75px;
		}
	}
	.container.flexible-content {
		margin-top: 40px;
		@media (max-width: 1150px) {
			padding: 0 25px;

		}
		.main-section {
			.row-fluid-wrapper {
				>.row-fluid {
					display: flex;
					.main-content {
						// border: 1px solid red;
						max-width: 790px;
						padding-right: 50px;
						@media (max-width: 1150px) {
							padding-right: 25px;
						}
						h2 {
							font-family: Lato, Verdana, Arial;
							margin: 0 0 40px;
							padding: 0;
							font-size: 24px;
							line-height: 35px;
							font-weight: 500;
							color: #4b4b4d;
							strong {
								display: block;
								margin-top: 20px;
								margin-bottom: 12px;
								font-size: 26px;
							    line-height: 30px;
								color: #58585a;
								font-weight: bold;
							}
							&.heading {
								font-size: 26px;
								line-height: 30px;
								font-weight: 300;
								margin-bottom: 12px;
							}
							&.bold {
								font-weight: 500 !important;
							}
						}
						h3 {
						    font-family: Lato, Verdana, Arial;
							font-size: 20px;
							line-height: 27px;
							font-weight: bold;
							margin: 30px 0 12px;
							color: #58585a;
							// -webkit-font-smoothing: subpixel-antialiased;
						}
						p {
							margin: 0 0 12px;
							color: #58585a;
							font-size: 19px;
							line-height: 30px;
							// -webkit-font-smoothing: subpixel-antialiased;
							// font-family: Lato, Verdana, Arial;
						}
						ul {
						    margin-bottom: 12px;
						    li {
							    margin: 0 0 0 35px;
							    padding: 0 0 2px;
							    list-style-type: disc;
							    font-size: 19px;
							    line-height: 30px;
							    color: #58585a;
							    // -webkit-font-smoothing: subpixel-antialiased;
							    // font-family: Lato, Verdana, Arial;
						    }
						}
					}
					.sidebar {
						flex: 1 0 310px;
						// border: 1px solid black;
						padding-left: 25px;
						margin-left: 0;
						    h3.locations {
					        margin-bottom: 12px;
					    }
					}
					@media (max-width: 767px) {
						flex-direction: column;
						.main-content, .sidebar {
							flex-basis: auto;
						}
						.sidebar {
							padding-left: 0;
							padding-top: 35px;
							border-top: 1px solid #e7e7e7;
							margin-top: 40px;
						}
					}
				}
			}
		}
	}
	&.disclaimer {
		.container.flexible-content {
			.main-section {
				.row-fluid-wrapper {
					>.row-fluid {
						display: flex;
						.main-content {
							max-width: 100%;
							padding-right: 0;
						}
					}
				}
			}
		}
	}
	&.impressum {
		.impressum-spacer {
			padding: 200px;
		}
		.container.flexible-content {
			.main-section {
				.row-fluid-wrapper {
					>.row-fluid {
						.main-content {
							padding-right: 10px;
							@media (max-width: 767px) {
								padding-right: 0;
							}
						}
					}
				}
			}
		}
	}
	&.newsroom {
		h2 {
			// margin-bottom: 12px !important;
		}
		.nav-bt {
			margin-top: 60px;
			p {
				margin-bottom: 0 !important;
			}
		}
	}
}