.home{
	
	.slider-content{
		height: auto;
		max-height: 490px;
		width: 100%;
		overflow: hidden;
		@media screen and (max-width: 767px) {
	    	margin-top: 76px;
	    }
	}
	.feed-box-content > span{
		display: flex;
		justify-content: space-between;
		margin-bottom: 0px;
		flex-wrap:wrap;
		> div{
			margin-bottom: 30px;
		}
		.cta_button  {
			text-decoration: none;
		}
		@media (max-width: 800px) {
        	flex-direction: column;
        }
		.cr-feed-box{
			margin: 5px;
			.img{
	        	@media (max-width: 800px) {
		        	width: 60%;
		        }
		        @media (max-width: 500px) {
		        	width: 100%;
		        }
	        }
		}
	}

	h3 {
		font-size: 26px;		
	 	line-height: 30px;		
	 	color: #58585a;		
	 	font-weight: 300;
	}

	.icon-box-content > span{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 50px;
		@media (max-width: 800px) {
        	flex-direction: column;
        }
		> div {
			width: 25%;
			@media (max-width: 800px) {
	        	width: 100%;
	        }
			&:last-child{
				.icon-wrapper{
					border-right: 0;
				}
			}
			.icon-wrapper {
				padding: 10px 0;
			}
		}
	}
}

