.locations{
	.hero-banner-small{

		@media screen and (max-width: 767px) {
	    	margin-top: 76px;
	    }
	}
	.locations-wrapper{
		margin-bottom: 30px;
	    h2{
		    color: #e32c49;
		    font-size: 20px;
		    line-height: 27px;
		    font-weight: bold;
	    }
	}
	p{

	}
	h5{
		font-size: 20px;
		color: #58585a;
    	font-weight: 300;
	}
	ol{
        counter-reset: li;
        list-style: none;
        padding-left: 45px;
        font-family: 'Lato';
        color: #58585a;
        li {
            margin-bottom: 19px;
            position: relative;
            font-size: 19px;
            line-height: 24px;
            font-weight: 400;

            &:before {
                counter-increment: li;
                content: counter(li);
                position: absolute;

                display: block;
                font-size: 15px;
                font-weight: 600;
                height: 26px;
                width: 26px;
                line-height: 22px;
                text-align: center;
                border: 2px solid #58585a;
                border-radius: 50%;

                top:0px;
                left: -45px;
            }
        }
        &.red{
        	li:before{
        		color: #e52e4a;
        		border-color: #e52e4a;
        	}
        }
        &.blue{
        	li:before{
        		color: #0090b7;
        		border-color: #0090b7;
        	}
        }
    }
}


.sidebar{
	.hs_cos_wrapper_type_rich_text{
		margin-bottom: 40px;
		h3{
			color: #58585a;
    		font-weight: 500;

    		margin-top: 1em;

		}
		p {
		    margin-bottom: 12px;
		    font-size: 15px;
		    color: #7f817f;
            line-height: 25px;
            font-weight: 500;
		}
		a{
			 color: #7f817f
		}
	}
}















