.newsroom{
	.hero-banner-small{
		// margin-bottom: 45px;
		margin-bottom: 0;
		@media screen and (max-width: 767px) {
	    	margin-top: 76px;
	    }
	 }
	.widget-type-rich_text{
		p{
			font-size: 24px;
			font-family: 'Lato';
			margin-top: 0px;
			font-weight: 400;
		}
	 }
	.feed-box-content > span{
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		@media (max-width: 800px) {
        	flex-direction: column;
        	> div {
        		width: 100%;
        	}
        }
		.cr-feed-box{
			margin-right: 20px;
			margin-bottom: 20px;
			> a {
				text-decoration: none;
			}
			.img{
	        	@media (max-width: 800px) {
		        	width: 60%;
		        }
		        @media (max-width: 500px) {
		        	width: 100%;
		        }
	        }
		}
	}
}
