.preferences-page {

	section:not(.hero-banner-small) {
		position: relative;
		width: 100%;
		float: left;
		margin: 25px auto;
	}

	.hero-banner-small {
		margin-bottom: 25px;
	}

	.lead-section {
		text-align: center;

		.container {
			max-width: 780px;
		}

		.red-text {
			color: $secondary_color;
		}
	}

	.form-section {

		.container {		

			& > .widget-span {
				padding-bottom: 40px;
				border-bottom: 1px solid #e7e7e7;
			}
		}

		h3.form-title {
			margin-top: 30px;
			font-size: 1.42105em;
    		font-weight: 500;
		}

		fieldset {
			max-width: none;
		}

		.notification-form {
			padding: 0;
			box-shadow: none;
			background-color: transparent;

			.inputs-list.multi-container {
				margin-bottom: 0;

				& > li {
					margin-bottom: 10px;
				}
			}

			label.hs-form-checkbox-display {
				color: $font_color;
				font-size: 0.9473684210526315em;

				span, small {
					display: inline-block;
				}

				span {
					position: relative;
					padding-left: 27px;
				}

				small {
					margin-top: 5px;
					color: #b2b2b2;
				}
			}

			input[type="checkbox"].hs-input {
				width: 0;
				height: 0;
				margin: 0;
				padding: 0;
			}

			.hs-form-checkbox[data-reactid$="disabled"] {
				visibility: hidden;
			    opacity: 0;
			    height: 0;
			    width: 0;
			    margin: 0;
			    padding: 0;
			}

			.hs_submit .actions {
				text-align: left;
							
				input[type="submit"] {
					color: #fff;
					background-color: $secondary_color;

					&:hover {
					    background-color: #e7e7e7;
					}
				}
			}

		}

		.data-form {
			background-color: #e7e7e7;
			box-shadow: none;
			max-width: none;
			padding: 30px 0;
			max-width: 700px;
			float: right;

			h3.form-title {
				margin-top: 0;
				margin-bottom: 40px;
				text-align: center;
				padding: 0 30px;
			}

			.hs-form-field {
				padding: 0 30px;
			}

			.input {
				margin-right: 0;
			}

			.hs-input {
				background-color: transparent;
				border: 1px solid #d7d7d7;
				color: $font_color;

				&::-webkit-input-placeholder {
					color: #979797;
				}

				&::-moz-placeholder {
					color: #979797;
				}

				&:-ms-input-placeholder {
					color: #979797;
				}

				&:-moz-placeholder {
					color: #979797;
				}

				&::placeholder {
				  color: #979797;
				}
			}

			select.hs-input {
				color: #979797;
				background-image: url('//cdn2.hubspot.net/hubfs/2958970/CR%20Templates/select-rect-darker-3.png');
			}

			.hs-error-msgs {
				label, a {
					color: $font_color;
				}
			}

			.hs_submit .actions {

				input[type="submit"] {
					margin-top: 50px;
					color: #fff;
					background-color: $secondary_color;
					border: 1px solid $secondary_color;

					&:hover {
						color: $secondary_color;
					    background-color: #e7e7e7;
					}
				}
			}
		}
	}

	

	.unsubscribe-section {

		.container {		

			& > .widget-span {
				padding-bottom: 40px;
				border-bottom: 1px solid #e7e7e7;
			}
		}

		.widget-type-email_subscriptions {
			max-width: 380px;

			.page-header, .item {
				display: none;
			}

			.email-prefs {

				.header {
					display: none;
				}

				.subscribe-options {

					h2 {
						margin-top: 0;
					}
				}
			}

			.subscribe-options {
				p {
					margin: 10px 0;
				}

				label {
					position: relative;
					display: inline-block;
					margin: 20px 0 10px;

				}
			}

			input[type="checkbox"] {
	            visibility: hidden;
	            position: absolute;

	            +span {
	            	position: relative;
	            	display: inline-block;
	            	padding-left: 25px;
	            	font-size: 19px;
					color: #b2b2b2;
					font-weight: normal;

	                &:before {
	                    content: '';
	                    position: absolute;
	                    background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/checkbox_inactive.png');
	                    background-position: center;
	                    background-repeat: no-repeat;
	                    left: -7px;
	                    top: 0;
	                    height: 25px;
	                    width: 25px;
	                }
	            }
	            &:checked {

	                +span {

	                    &:before {
	                        background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/checkbox_active-1.png');
	                    }
	                }
	            }
	        }

	        #submitbutton {
	        	margin-bottom: 20px;
	        }
		}

	}

	.additional-section {
		text-align: center;
		color: #b2b2b2;

		p, li, span, small {
			color: inherit;
		}
	}

}


@media (max-width: 1150px) {

	.preferences-page {

		.form-section {

			.notification-form {
				width: 40%;
			}

			.data-form {
				width: 58%;
				margin-left: 2%;
			}
		}
	}
}

@media (max-width: 991px) {

	.preferences-page {

		.form-section {

			.notification-form {
				width: 50%;
			}

			.data-form {
				width: 48%;

				.hs-form-field {
					padding: 0 15px;
				}
			}
		}
	}
}



@media (max-width: 767px) {

	.preferences-page {

		.form-section {

			.notification-form {
				width: 100%;
				margin-bottom: 25px;
			}

			.data-form {
				width: 100%;
				margin-left: 0;
				max-width: none;
				float: left;
				margin-top: 25px;
				margin-bottom: 25px;
			}
		}
	}
}

@media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px) {
	.preferences-page {

		.data-form {

			.form-columns-2 {

				.hs-form-field {
					width: 50%;
					float: left;
				}
			}
		}
	}
}

@media (max-width: 480px) {
	.preferences-page {

		.notification-form {

		}

		.data-form {

			.form-columns-2 {

				.hs-form-field {
					width: 100%;
					float: none;
				}
			}
		}
	}
}