.sitemap {
    padding-top: 30px;
    padding-left: 15px;
    @media screen and (max-width: 767px) {
        margin-top: 60px;
    }
    .widget-type-header {
        margin-bottom: 30px;
        h2 {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 30px;
        }
    }
    > .main-section {
        .widget-type-menu {
            display: block;
            .hs-menu-wrapper {
                > ul {
                    display: flex;
                    flex-wrap: wrap;
                    > li {
                        padding-right: 25px;
                        margin-bottom: 40px;
                        > a {
                            width: 100%;
                            padding-bottom: 10px;
                            border-bottom: 2px solid #dbdbdb;
                        }
                        > ul.hs-menu-children-wrapper {
                            padding-top: 5px;
                            padding-left: 5px;
                            > li.hs-menu-depth-2 {
                                margin-bottom: 6px;
                                > ul.hs-menu-children-wrapper {
                                    padding-top: 5px;
                                    padding-left: 5px;
                                    > li.hs-menu-depth-3 {
                                        margin-bottom: 5px;
                                    }
                                }
                            }
                        }

                        &.hs-item-has-children {

                        }
                    }
                }
            }
        }
        ul {
            padding: 0;
            list-style: none;
            li {
                padding: 0;
                margin: 0;
                a {

                    font-family: 'Montserrat', sans-serif;
                    display: inline-block;
                    position: relative;
                    padding: 0;
                    font-size: 14px;
                    line-height: 16px;
                    text-decoration: none;
                    color: #58585a;
                    text-transform: uppercase;
                    letter-spacing: 1.75px;
                    font-weight: 400;
                    margin-bottom: 3px;
                    margin-left: 15px;
                    padding: 0;
                    margin: 0;
                    &:hover {
                        color: rgba(227, 44, 73, 0.5);
                    }
                }
                &.hs-menu-depth-1 {
                    > a {
                        font-size: 16px;
                        margin: 15px 0 5px;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
    }
}