body.redesign.thank-you {
    a:hover {
        text-decoration: none;
    }
    .cta-primary {
        border-radius: 10px;
        border: none;
        margin-top: 8px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        letter-spacing: 1.2px;
        line-height: 21px;
        background-color: $secondary_color;
        color: #fff;
        padding: 10px 15px;
        text-decoration: none;
        &:hover {
            cursor: pointer;
            color: $secondary_color;
            background-color: #fff;
            text-decoration: none;
        }
    }
    .thank-you-desc {
        .cta-primary {
            &:hover {
                background-color: #e7e7e7;
            }
        }
    }
}
.thank-you {
    .thank-you-desc {
        text-align: center;
        margin-top: 70px;
        margin-bottom: 85px;
        > div.widget-span {
            float: none;
        }
        h2 {
            color: #474747;
        }
        p {
            color: #474747;
        }
        @media (max-width: 767px) {
            br {
                display: none;
            }
        }
        .widget-type-cta {
            margin-top: 20px;
        }
        a.cta_button {
            display: inline-block;
        }
    }
    .thank-you-recent-posts {
        text-align: center;
        background: #e7e7e7;
        padding: 70px 50px 50px;
        // &.container {
        //     max-width: 1200px;
        // }
        > div.widget-span {
            float: none;
        }
        h2 {
            color: #474747;
        }
        p {
            color: #474747;
        }
        @media (max-width: 767px) {
            br {
                display: none;
            }
        }
        .widget-type-cta {
            margin-top: 40px;
        }

        .post {
            &-listing {
                display: flex;
                flex-wrap: wrap;
                margin-top: 30px;
                border-bottom: 1px solid #d7d7d7;
                @media (max-width: 767px) {
                    flex-direction: column;
                }
            }
            &--single {
                width: 31%;
                margin: 0 1%;
                padding: 0;
                // max-width: 355px;
                max-width: none;
                margin-bottom: 40px;
                transition: .3s linear;
                text-align: left;
                // &:nth-child(odd) {
                //     margin-right: 1.5%;
                // }
                // &:nth-child(even) {
                //     margin-left: 1.5%;
                // }
                &:hover {
                    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.36);
                    cursor: pointer;
                    .post__image-wrapper {
                        img {
                            filter: none;
                        }
                    }
                }
                @media (max-width: 767px) {
                    width: 100%;
                    max-width: 100%;
                    margin: 0 !important;
                    margin-bottom: 30px !important;
                }
            }
            &__image-wrapper {
                position: relative;
                img {
                    height: auto;
                    max-width: 100%;
                    filter: grayscale(100%) opacity(.5);
                    transition: all 0.5s ease;
                }
                .social--icons {
                    position: absolute;
                    right: 0;
                    bottom: 10px;
                    ul {
                        display: flex;
                        li {
                            margin-right: 15px;
                            a {
                                i {
                                    font-size: em(16);
                                    line-height: 1.5em;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
            &__topics-wrapper {
                position: absolute;
                left: 20px;
                top: 20px;
                ul {
                    display: flex;
                    li {
                        margin-right: 10px;
                        margin-bottom: 10px;
                        a {
                            text-decoration: none;
                            color: #fff;
                            font-size: em(11);
                            line-height: 1.5em;
                            padding: 5px 10px;
                            border: 1px solid #fff;
                            border-radius: 5px;
                        }
                    }
                }
            }
            &__body {
                padding: 0 20px 30px;
                .author-info {
                    p {
                        margin: 10px 0 5px;
                        font-size: em(11);
                        line-height: 1.5em;
                        color: #8d8d8d;
                        a {
                            text-decoration: none;
                        }
                    }
                }
                h2, h3 {
                    line-height: 1.25em;
                    margin: 5px 0 10px;
                }
                p {
                    margin: 15px 0 10px;
                }
                ul {
                    list-style-type: none;
                    padding-left: 70px;
                    li {
                        font-size: em(18);
                        line-height: 1.5em;
                        font-weight: 400;
                        color: $font_color;
                        margin: 20px 0px;
                        padding-left: 30px;
                        position: relative;
                        &:before {
                            content: '• ';
                            color: $secondary_color;
                            background-position: center;
                            background-repeat: no-repeat;
                            position: absolute;
                            left: 0px;
                            height: 8px;
                            width: 8px;
                            top: -3px;
                            ;
                        }
                    }
                }
            }
            &--view {
                margin-top: 30px;
                .post__image-wrapper {
                    img {
                        filter: none;
                    }
                }
                .post__body {
                    padding: 0 0 20px;
                }
                .author {
                    border-top: 1px solid #e7e7e7;
                    border-bottom: 1px solid #e7e7e7;
                    padding: 25px 0;
                    display: flex;
                    position: relative;
                    .img-wrapper {
                        img {
                            width: 75px;
                            height: 75px;
                        }
                    }
                    .text-wrapper {
                        max-width: 250px;
                        margin-left: 15px;
                        p {
                            font-size: em(14);
                            margin: 10px 0;
                            color: rgba(71, 71, 71, 0.7);
                            &.author-txt {
                                font-weight: bold;
                                margin: 0px 0px 10px;
                                a {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                    .share-author {
                        position: absolute;
                        display: flex;
                        right: 0;
                        top: 25px;
                        p {
                            margin: 0 0 10px;
                            font-size: em(11);
                            font-family: Montserrat;
                            font-weight: bold;
                            color: rgba(#474747, 0.5);
                        }
                        ul.social--icons {
                            li {
                                display: inline-block;
                                margin-left: 10px;
                                i {
                                    color: rgba(#474747, 0.5);
                                }
                            }
                        }
                    }
                    @media (max-width: 767px) {
                        padding-bottom: 55px;
                        .share-author {
                            left: 90px;
                            right: auto;
                            top: auto;
                            bottom: 25px;
                            @media (max-width: 400px) {
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .posts-desc {
        margin: 70px 0 15px;
        text-align: center;
        > div {
            float: none;
        }
        p {
            margin: 0 !important;
            font-size: 14px !important;
            color: #474747;
        }
    }
}
