.landing {

    .social--icons {
    	margin-top: 50px;
    	margin-bottom: 30px;
    	float: left;
    	width: 100%;
        ul {
        	display: block;
        	float: left;
        	width: 100%;
        	text-align: center;
            li {
            	display: inline-block;
            	width: auto;
            	margin-right: 5px;
            	float: none;
                a {
                    i {
                        font-size: em(24);
                        line-height: 1.5em;
                        color: rgba(#474747, 0.5);
                    }
                }
            }
        }
    }

	.main-content{
		margin-top: 10px;
		.left-side {
			h2 {
				color: $secondary_color;
				// font-family: 'Montserrat', sans-serif;
				font-weight: 400;
				strong {
					font-family: Lato,Verdana,Arial;
				    // margin: 0 0 40px;
				    // padding: 0;
				    // font-size: 24px;
				    // line-height: 35px;
				    // font-weight: 500;
				    // color: #4b4b4d;
				}
			}
			ul {
				padding-left: 70px;
				margin-top: 10px;
				@media (max-width: 500px) {
					padding-left: 35px;
				}
			}
		}
		.form-section {
			.form-heading {
				text-align: center;
				>.cell-wrapper.layout-widget-wrapper {
					max-width: 440px;
					margin: 0 auto;
				}
			}
			.widget-type-form {
				margin-top: 20px;
				@media (max-width: 767px) {
					margin: 20px auto 0;
				}
			}
		}
		.legal {
			text-align: center;
			padding-top: 25px;
			p {
				padding-top: 5px;
				font-size: em(14);
				line-height: 1.5em;
				// font-family: 'Lato', sans-serif;
				color: rgba(71,71,71, 0.7);
				margin-bottom: 0;
			}
		}
	}
}