.landing--book {
    .left-side {
        max-width: 700px;
        h2 {
            font-family: 'Lato', sans-serif !important;
        }
    }
    .cta-shadow {
        margin-top: 30px;
        text-align: center;
        a {
            display: block;
            max-width: 100%;
            img {
                box-shadow: 0px 64px 178px -53px rgba(0, 0, 0, 0.4);
                height: auto;
                max-width: 100%;
            }
        }
        @media (max-width: 767px) {
            text-align: center;
            a {
                display: inline-block;
                float: none;
            }
        }
    }

    .img-shadow {
        margin-top: 30px;
        text-align: center;
        img {
            margin: auto;
            float: none;
            height: auto;
            max-width: 100%;
            box-shadow: 0px 64px 178px -53px rgba(0, 0, 0, 0.4);
        }
        @media (max-width: 767px) {
            text-align: center;
            img {
                float: none;
            }
        }
    }
    .form-section {
        max-width: 1200px;
        margin: 15px auto 0;
        text-align: center;
        .form-section-wrapper {
            background-color: #e7e7e7;
            padding: 20px 50px 50px;
            position: relative;
            z-index: 1;
            @media (max-width: 767px) {
                padding: 30px 25px;
            }
            .widget-type-form {
                float: none;
                margin: 0 auto;
                max-width: 820px;
                @media (min-width: 768px) {
                    // padding: 32px 20px 55px 50px;
                    fieldset {
                        max-width: 100%;
                        &.form-columns-2 .input {
                            
                            margin-right: 30px;
                        }
                    }
                    fieldset.form-columns-1 .hs-input {
                        width: 100% !important;
                    }
                    .hs_submit .actions input[type="submit"] {

                        margin-top: 15px;
                        margin-right: 30px;
                    }
                }
                @media (max-width: 767px) {
                    max-width: 520px;
                    // padding: 20px 25px 25px;
                    .form-columns-2 {
                        .hs-form-field {
                            width: 100%;
                            float: left;
                        }
                        .input {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        @media (max-width: 767px) {
            margin-top: 40px;
        }
    }
    .main-content {
        .legal {
            p {
                padding-top: 0;
                color: rgba(71, 71, 71, 0.7);
            }
        }
    }
    &.video {
        .video-module-new {
            margin-top: 95px;
            // float: right;
            @media (max-width: 767px) {
                margin: 95px auto 0;
                float: none;
            }
        }
    }
}
