.blog {
    .container.top-wrap {
        border-top: 1px solid #e7e7e7;
        @media (max-width: 767px) {
            margin-top: 70px;
        }
        >.span12.widget-span.widget-type-cell {
            margin-top: 30px;
        }
    }
    .blog-section {
        max-width: 730px;
        .hs-author-avatar {
            max-width: 500px;
            margin: 15px auto;
            text-align: center;
        }
        .post {
            &-listing {
                display: flex;
                flex-wrap: wrap;
                margin-top: 30px;
                @media (max-width: 600px) {
                    flex-direction: column;
                }
            }
            &--single {
                width: 48.5%;
                max-width: 355px;
                margin-bottom: 50px;
                transition: .3s linear;
                &:nth-child(odd) {
                    margin-right: 1.5%;
                }
                &:nth-child(even) {
                    margin-left: 1.5%;
                }
                &:hover {
                    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.36);
                    cursor: pointer;
                    .post__image-wrapper {
                        img {
                            filter: none;
                        }
                    }
                    .img_greyscale {
                        opacity: 0;
                        transition: opacity 0.3s linear;
                    }
                }
                .img_wrapper {
                    img {
                        -webkit-filter: none;
                        filter: none;
                    }
                    .img_greyscale {
                        -webkit-filter: none;
                        filter: none;
                        transition: opacity 0.3s linear;
                    }
                }
                @media (max-width: 600px) {
                    width: 100%;
                    max-width: 100%;
                    margin: 0 !important;
                }
            }
            &__image-wrapper {
                position: relative;
                img {
                    height: auto;
                    max-width: 100%;
                    filter: grayscale(100%) opacity(.5);
                    transition: all 0.5s ease;
                }
                .social--icons {
                    z-index: 6;
                    position: absolute;
                    right: 0;
                    bottom: 10px;
                    ul {
                        display: flex;
                        li {
                            margin-right: 15px;
                            a {
                                i {
                                    font-size: em(16);
                                    line-height: 1.5em;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
            &__topics-wrapper {
                position: absolute;
                left: 20px;
                top: 20px;
                z-index: 6;
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    li {
                        margin-right: 10px;
                        margin-bottom: 10px;
                        a {
                            text-decoration: none;
                            color: #fff;
                            font-size: em(11);
                            line-height: 1.5em;
                            padding: 5px 10px;
                            border: 1px solid #fff;
                            border-radius: 5px;
                            &:hover {
                                text-deocration: underline;
                            }
                        }
                    }
                }
            }
            &__body {
                padding: 0 20px 50px;
                .author-info {
                    p {
                        margin: 10px 0 5px;
                        font-size: em(11);
                        line-height: 1.5em;
                        color: #8d8d8d;
                        a {
                            text-decoration: none;
                        }
                    }
                }
                h2 {
                    font-size: em(20)!important;		
                    font-weight: bold;		
                    margin: 5px 0 10px;
                    a {
                        text-decoration: none;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
                h3, span.h3 {
                    font-size: em(20)!important;
                    margin: 5px 0 10px;
                    a {
                        text-decoration: none;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
                p {
                    margin: 15px 0 10px;
                }
                ul {
                    list-style-type: none;
                    padding-left: 70px;
                    li {
                        font-size: em(18);
                        line-height: 1.5em;
                        font-weight: 400;
                        color: $font_color;
                        margin: 20px 0px;
                        padding-left: 30px;
                        position: relative;
                        &:before {
                            content: '• ';
                            color: $secondary_color;
                            background-position: center;
                            background-repeat: no-repeat;
                            position: absolute;
                            left: 0px;
                            height: 8px;
                            width: 8px;
                            top: -3px;
                            ;
                        }
                    }
                }
            }
            &--view {
                margin-top: 30px;
                .post__image-wrapper {
                    img {
                        filter: none;
                    }
                }
                .post__body {
                    padding: 0 0 20px;
                    h1 {
                        font-size: 1.26316em;
                        font-weight: 500;
                        margin: 5px 0 10px;
                    }
                }
                .author {
                    border-top: 1px solid #e7e7e7;
                    border-bottom: 1px solid #e7e7e7;
                    padding: 25px 0;
                    display: flex;
                    position: relative;
                    .img-wrapper {
                        img {
                            width: 75px;
                            height: 75px;
                        }
                    }
                    .text-wrapper {
                        max-width: 250px;
                        margin-left: 15px;
                        p {
                            font-size: em(14);
                            margin: 10px 0;
                            color: rgba(71, 71, 71, 0.7);
                            &.author-txt {
                                font-weight: bold;
                                margin: 0px 0px 10px;
                                a {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                    .share-author {
                        position: absolute;
                        display: flex;
                        right: 0;
                        top: 25px;
                        p {
                            margin: 0 0 10px;
                            font-size: em(11);
                            font-family: Montserrat;
                            font-weight: bold;
                            color: rgba(#474747, 0.5);
                        }
                        ul.social--icons {
                            li {
                                display: inline-block;
                                margin-left: 10px;
                                i {
                                    color: rgba(#474747, 0.5);
                                }
                            }
                        }
                    }
                    @media (max-width: 767px) {
                        padding-bottom: 55px;
                        .share-author {
                            left: 90px;
                            right: auto;
                            top: auto;
                            bottom: 25px;
                            @media (max-width: 400px) {
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
        .blog-pagination {
            margin-top: 70px;
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                li {
                    height: 42px;
                    width: 42px;
                    border: 1px solid #e7e7e7;
                    border-radius: 8px;
                    margin: 0 4px;
                    text-align: center;
                    // padding: 8px 10px;
                    padding: 0;
                    transition: .3s linear;
                    a {
                        text-decoration: none;
                        font-size: em(14);
                        line-height: 40px;
                        padding: 10px 12px;
                    }
                    &.active,
                    &:hover {
                        border: 1px solid #3d3d3d;
                        cursor: pointer;
                        a {
                            color: #3d3d3d;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    .sidebar {
        .subscribe-sidebar {
            margin-top: 25px;
            margin-bottom: 60px;
            .h3 {
                font-size: em(20);
            }
            .popup-btn {
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                border: 1px solid #fff;
                margin-top: 8px;
                margin-bottom: 10px;
                padding: 10px 15px;
                background-color: #e0493d;
                color: #fff;
                font-family: 'Montserrat', sans-serif;
                font-size: 0.73684em;
                line-height: 1.5em;
                font-weight: bold;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                -webkit-transition: .3s all ease-in-out;
                -o-transition: .3s all ease-in-out;
                -moz-transition: .3s all ease-in-out;
                transition: .3s all ease-in-out;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border: none;
                text-decoration: none;
                &:hover {
                    cursor: pointer;
                    color: #fff;
                    background-color: #e7e7e7;
                }
            }
        }
        .form-popup-wrapper {
            display: none;
            position: fixed;
            z-index: 10000;
            background: rgba(0, 0, 0, 0.6);
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            top: 0;
            overflow: hidden;
            .form-wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: 600px;
                padding: 15px 25px;
                max-width: 100%;
                // max-width: 520px;
                margin: 15px auto;
                // padding: 30px 50px 55px;
                background-color: $secondary_color;
                border-radius: 15px;
                box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.36);
                -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
                -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
                box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                border-radius: 6px;
                max-height: 95vh;
                overflow: auto;
                .form-exit {
                    position: absolute;
                    top: 5px;
                    right: 15px;
                    color: #fff;
                    cursor: pointer;
                }
                .form {
                    .hs-form-required {
                        display: none;
                    }
                    input,
                    input[type="text"],
                    select,
                    textarea {
                        border-radius: 10px;
                        border: 1px solid #fff;
                        margin-top: 8px;
                        margin-bottom: 10px;
                        font-family: 'Lucida Grande', 'Lato', sans-serif;
                        font-size: em(18);
                        line-height: 21px;
                        background-color: $secondary_color;
                        color: #fff;
                        padding: 10px 15px;
                    }
                    textarea {
                        resize: vertical;
                        max-width: 100%;
                    }
                    input[type="radio"].hs-input {
                        visibility: hidden;
                        height: 25px;
                        color: #fff;
                        +span {
                            &:before {
                                content: '';
                                position: absolute;
                                background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/radio_inactive.png');
                                background-position: center;
                                background-repeat: no-repeat;
                                left: -7px;
                                top: -2px;
                                height: 25px;
                                width: 25px;
                            }
                        }
                        &:checked {
                            +span {
                                &:before {
                                    background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/radio_active.png');
                                }
                            }
                        }
                    }
                    .inputs-list li label {
                        position: relative;
                    }
                    .hs_multi_thermission_blog_en_email_subscription, .hs_multi_thermission_blog_de_email_subscription {
                        .inputs-list {
                            li {
                                &:nth-child(3) {
                                    display: none;
                                }
                            }
                        }
                    }
                    input[type="checkbox"].hs-input {
                        visibility: hidden;
                        height: 25px;
                        +span {
                            &:before {
                                content: '';
                                position: absolute;
                                background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/checkbox_inactive.png');
                                background-position: center;
                                background-repeat: no-repeat;
                                left: -7px;
                                top: -2px;
                                height: 25px;
                                width: 25px;
                            }
                        }
                        &:checked {
                            +span {
                                &:before {
                                    background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/checkbox_active-1.png');
                                }
                            }
                        }
                    }
                    .hs_submit {
                        .actions {
                            text-align: center;
                            input[type="submit"] {
                                margin-top: 25px;
                                margin-bottom: 0px;
                            }
                        }
                    }
                    select {
                        position: relative;
                        outline: none;
                        background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/select-rect.png');
                        background-repeat: no-repeat;
                        background-position: right 15px top 50%;
                    }
                    input[type="submit"] {
                        background-color: #fff;
                        color: $secondary_color;
                        font-family: 'Montserrat', sans-serif;
                        font-size: em(14);
                        line-height: 1.5em;
                        font-weight: bold;
                        letter-spacing: 1.2px;
                        text-transform: uppercase;
                        transition: .3s all ease-in-out;
                        appearance: none;
                        &:hover {
                            cursor: pointer;
                            // color: #fff;
                            color: $secondary_color;
                            background-color: #e7e7e7;
                        }
                    }
                    label.hs-form-radio-display,
                    label.hs-form-checkbox-display {
                        color: #fff;
                        span {
                            padding-left: 10px;
                        }
                    }
                    .inputs-list.multi-container {
                        margin-bottom: 18px;
                    }
                    select {
                        appearance: none;
                        color: rgba(255, 255, 255, 0.5);
                    }
                    label {
                        color: #fff;
                    }
                    .hs-error-msgs {
                        font-size: 14px;
                        color: #fff;
                        padding-top: 5px;
                    }
                    ::-webkit-input-placeholder {
                        color: rgba(255, 255, 255, 0.5);
                        font-family: 'Lucida Grande', 'Lato', sans-serif;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        font-weight: 300;
                    }
                    ::-moz-placeholder {
                        /* Firefox 18- */
                        color: rgba(255, 255, 255, 0.5);
                        font-family: 'Lucida Grande', 'Lato', sans-serif;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                    :-moz-placeholder {
                        /* Firefox 19+ */
                        color: rgba(255, 255, 255, 0.5);
                        font-family: 'Lucida Grande', 'Lato', sans-serif;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                    :-ms-input-placeholder {
                        color: rgba(255, 255, 255, 0.5);
                        font-family: 'Lucida Grande', 'Lato', sans-serif;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                    // @media (max-width: 500px) {
                    //     padding: 20px 25px 25px;
                    // }
                }
            }
        }
        .upcoming-events {
            .events-wrapper {
                p {
                    margin: 0;
                    font-weight: 300;
                    a {
                        text-decoration: none;
                        font-size: 14px;
                        &:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
                ul {
                    li {
                        &:last-of-type {
                            border-bottom: 0;
                        }
                    }
                }
            }
        }
        .about {
            h1 {
                margin: 20px 0 10px;
                font-size: 1.42105em;
                font-weight: 500;
            }
            .h2 {
                margin: 20px 0 10px;		
                font-size: 1.42105em;		
                font-weight: 500;		
                display: inline-block;
            }
            h2 {
                font-size: em(24);  		
                color: rgba(71, 71, 71, 0.7);		
                margin: 10px 0 20px;		
                font-weight: 400;		
                font-family: "Lucida Grande", "Lato", sans-serif;
            }
            p {
                font-size: em(14);
                color: rgba(71, 71, 71, 0.7);
                margin: 10px 0 20px;
            }
        }
        .subs {
            margin-top: 25px;
            margin-bottom: 60px;
            @media (max-width: 767px) {
                margin-top: 15px;
                margin-bottom: 15px;
            }
            h3 {
                font-size: em(20);
                margin-bottom: 10px;
            }
            form {
                .hs-richtext {
                    font-size: em(14);
                    color: rgba(71, 71, 71, 0.7);
                    margin: 10px 0px;
                    .p {
                        font-size: em(14);
                        color: rgba(71, 71, 71, 0.7);
                        margin: 10px 0px;
                    }
                }
                input[type="email"] {
                    background-color: #fff;
                    border: 1px solid #e7e7e7;
                    color: rgba(71, 71, 71, 1);
                    margin-bottom: 20px;
                }
                input[type="checkbox"] {
                    &.hs-input {
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
                input[type="submit"] {
                    margin-top: 20px;
                }
                .inputs-list {
                    li {
                        position: relative;
                        padding-left: 30px;
                        label {
                            position: static;
                            font-size: em(14);
                            color: rgba(71, 71, 71, 0.7);
                            margin: 10px 0 20px;
                        }
                    }
                }
                .hs-error-msgs {
                    // margin: 10px 0;
                    label {
                        color: #e0493d !important;
                    }
                }
                ::-webkit-input-placeholder {
                    color: rgba(71, 71, 71, 0.5);
                    font-family: 'Lucida Grande', 'Lato', sans-serif;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-weight: 300;
                }
                ::-moz-placeholder {
                    /* Firefox 18- */
                    color: rgba(71, 71, 71, 0.5);
                    font-family: 'Lucida Grande', 'Lato', sans-serif;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
                :-moz-placeholder {
                    /* Firefox 19+ */
                    color: rgba(71, 71, 71, 0.5);
                    font-family: 'Lucida Grande', 'Lato', sans-serif;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
                :-ms-input-placeholder {
                    color: rgba(71, 71, 71, 0.5);
                    font-family: 'Lucida Grande', 'Lato', sans-serif;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }
        }
        .categories {
            margin-top: 70px;
            @media (max-width: 767px) {
                margin-top: 20px;
            }
            h3, .h3 {
                font-size: em(20);
                margin: 20px 0 0;
            }
            ul {
                list-style-type: none;
                li {
                    padding: 15px 0 15px;
                    border-bottom: 1px solid #e7e7e7;
                    position: relative;
                    a {
                        text-decoration: none;
                        font-size: em(14);
                        span.filter-link-count {
                            color: #585858;
                            position: absolute;
                            right: 5px;
                            bottom: 15px;
                        }
                    }
                }
            }
            span {
                >.block {
                    >span {
                        margin: 20px 0 0;		
                        font-size: em(20);		
                        font-weight: 500;		
                        line-height: 1.5em;		
                        letter-spacing: -0.25px;
                    }
                }
            }
        }

        .popular {
            h3, .h3 {
                font-size: em(20);
                margin-bottom: 10px;
            }
            .h3 {
                display: inline-block;
            }
            .posts-wrapper {
                .post-single {
                    display: flex;
                    min-height: 90px;
                    padding: 10px 0;
                    justify-content: flex-start;
                    align-items: center;
                    .img-wrapper {
                        flex: 1 0 70px;
                        max-width: 70px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        img {
                            height: 70px;
                            width: 70px;
                            filter: none;
                            // filter: grayscale(100%) opacity(.5);
                            // transition: all 0.5s ease;
                        }
                    }
                    .content-wrapper {
                        padding-left: 20px;
                        p {
                            &.date {
                                margin: 3px 0;
                                font-size: em(11);
                                line-height: 1.5em;
                                color: #8d8d8d;
                            }
                            &.title {
                                font-size: em(14);
                                color: #e0493d;
                                margin: 3px 0;
                                letter-spacing: -0.5px;
                                line-height: 18px;
                                a {
                                    color: #e0493d;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                    &:hover {
                        cursor: pointer;
                        .img-wrapper {
                            img {}
                        }
                    }
                }
            }
        }
    }
    .comment-section {
        max-width: 730px;
        #comments-listing {
            .comment.depth-0 {
                border-top: 1px solid #e7e7e7;
            }
            h4 {
                margin: 15px 0;
            }
            .comment-body {
                p {
                    margin: 10px 0;
                }
            }
        }
        input[type="text"],
        input[type="email"],
        textarea {
            background-color: #fff;
            border: 1px solid #e7e7e7;
            color: rgba(71, 71, 71, 1);
            margin-bottom: 20px;
        }
        fieldset {
            max-width: 100%;
        }
        textarea {
            width: 100% !important;
            min-height: 180px;
        }
        input[type="checkbox"] {
            &.hs-input {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        input[type="submit"] {
            margin-top: 20px;
        }
        .inputs-list {
            li {
                position: relative;
                padding-left: 30px;
                label {
                    position: static;
                    font-size: em(14);
                    color: rgba(71, 71, 71, 0.7);
                    margin: 10px 0 20px;
                }
            }
        }
        .hs-error-msgs {
            // margin: 10px 0;
            li {
                padding-left: 0;
                label {
                    color: #e0493d !important;
                }
            }
        }
        ::-webkit-input-placeholder {
            color: rgba(71, 71, 71, 0.5);
            font-family: 'Lucida Grande', 'Lato', sans-serif;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-weight: 300;
        }
        ::-moz-placeholder {
            /* Firefox 18- */
            color: rgba(71, 71, 71, 0.5);
            font-family: 'Lucida Grande', 'Lato', sans-serif;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        :-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(71, 71, 71, 0.5);
            font-family: 'Lucida Grande', 'Lato', sans-serif;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        :-ms-input-placeholder {
            color: rgba(71, 71, 71, 0.5);
            font-family: 'Lucida Grande', 'Lato', sans-serif;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}

// CUSTOM CSS
.blog {
    .sidebar {
        .categories {
            .widget-module {
                a.filter-expand-link {
                    display: block;
                    text-decoration: none;
                    font-size: em(14);
                    padding: 15px 0;
                    font-weight: 700;
                }
            }
        }
        .sidebar-cta-download {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
