.custom-popup{
    text-align: center;
.cta_button{
        display: inline-block;
        border-radius: 10px;
        border: 1px solid #fff;
        margin-top: 8px;
        margin-bottom: 10px;
        padding: 10px 15px;
        background-color: #e0493d;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.73684em;
        line-height: 1.5em;
        font-weight: bold;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        transition: .3s all ease-in-out;
        appearance: none;
        border: none;
        text-decoration: none;
        &:hover {
            cursor: pointer;
            color: #fff;
            background-color: #e7e7e7;
        }
    }
}
.custom-popup-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
    opacity: 0;
    transition: 0.6s all;
    &.active {
        z-index: 100000;
        opacity: 1;
        .popup {
            bottom: -50%;
        }
    }
    .popup {
        position: relative;
        width: 95%;
        max-height: 95%;
        left: 50%;
        bottom: -50%;
        transform: translate(-50%, -50%);
        padding: 25px;
        overflow: auto;
        transition: 0.4s all;
        background-color: #e0493d;
        padding: 35px 25px;
        border-radius: 6px;
        ul{
            list-style: none;
        }
        .form-exit {
            position: absolute;
            top: 5px;
            right: 15px;
            color: #fff;
            cursor: pointer;
        }
        .hs-form-required {
            display: none;
        }
        input,
        input[type="text"],
        select,
        textarea {
            border-radius: 10px;
            border: 1px solid #fff;
            margin-top: 8px;
            margin-bottom: 10px;
            font-family: 'Lucida Grande', 'Lato', sans-serif;
            font-size: em(18);
            line-height: 21px;
            background-color: $secondary_color;
            color: #fff;
            padding: 10px 15px;
        }
        textarea {
            resize: vertical;
            max-width: 100%;
        }
        input[type="radio"].hs-input {
            visibility: hidden;
            height: 25px;
            color: #fff;
            +span {
                &:before {
                    content: '';
                    position: absolute;
                    background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/radio_inactive.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    left: -7px;
                    top: -2px;
                    height: 25px;
                    width: 25px;
                }
            }
            &:checked {
                +span {
                    &:before {
                        background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/radio_active.png');
                    }
                }
            }
        }
        .inputs-list li label {
            position: relative;
        }
        .hs_multi_thermission_blog_en_email_subscription,
        .hs_multi_thermission_blog_de_email_subscription {
            .inputs-list {
                li {
                    &:nth-child(3) {
                        display: none;
                    }
                }
            }
        }
        input[type="checkbox"].hs-input {
            visibility: hidden;
            height: 25px;
            +span {
                &:before {
                    content: '';
                    position: absolute;
                    background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/checkbox_inactive.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    left: -7px;
                    top: -2px;
                    height: 25px;
                    width: 25px;
                }
            }
            &:checked {
                +span {
                    &:before {
                        background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/checkbox_active-1.png');
                    }
                }
            }
        }
        .hs_submit {
            .actions {
                text-align: center;
                input[type="submit"] {
                    margin-top: 25px;
                    margin-bottom: 0px;
                }
            }
        }
        select {
            position: relative;
            outline: none;
            background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/select-rect.png');
            background-repeat: no-repeat;
            background-position: right 15px top 50%;
        }
        input[type="submit"] {
            background-color: #fff;
            color: $secondary_color;
            font-family: 'Montserrat', sans-serif;
            font-size: em(14);
            line-height: 1.5em;
            font-weight: bold;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            transition: .3s all ease-in-out;
            appearance: none;
            &:hover {
                cursor: pointer; // color: #fff;
                color: $secondary_color;
                background-color: #e7e7e7;
            }
        }
        label.hs-form-radio-display,
        label.hs-form-checkbox-display {
            color: #fff;
            span {
                padding-left: 10px;
            }
        }
        .inputs-list.multi-container {
            margin-bottom: 18px;
        }
        select {
            appearance: none;
            color: rgba(255, 255, 255, 0.5);
        }
        label {
            color: #fff;
        }
        .hs-error-msgs {
            font-size: 14px;
            color: #fff;
            padding-top: 5px;
        }
            ::-webkit-input-placeholder {
                color: rgba(255,255,255, 0.5);
                font-family: 'Lucida Grande', 'Lato', sans-serif;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-weight: 300;
            }
            ::-moz-placeholder {
                color: rgba(255,255,255, 0.5);
                font-family: 'Lucida Grande', 'Lato', sans-serif;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            :-moz-placeholder {
                color: rgba(255,255,255, 0.5);
                font-family: 'Lucida Grande', 'Lato', sans-serif;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            :-ms-input-placeholder {
                color: rgba(255,255,255, 0.5);
                font-family: 'Lucida Grande', 'Lato', sans-serif;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        
    }
}