.cr-feed-box{
	max-width: 350px;
	@media (max-width: 800px) {
    	max-width: 100%;
    }
	.content{
		&:hover {
			span.duplicate_cta_button  {
				text-decoration: underline;
			}
		}
		text-decoration: none;
		h2{
			color: #e32c49;
		}
		.img{

			width: 100%;
			height: 200px;
			background-size: cover;
			background-position: center center;
		}
		p{
			    font-size: 17px;
			    line-height: 25px;
			    color: #969593;
			    margin-top: 25px;
    			padding-left: 15px;
			    border-left: 1px solid #e7e7e7;
		}
		// .cta-more {
			span.duplicate_cta_button  {
				float: right;
				margin-top: 20px;
				margin-right: 15px;
				margin-bottom: 10px;
				text-decoration: none;
				color: #e32c49;
				cursor: pointer;
				&:hover {
					text-decoration: underline;
				}
			}
		// }
	}
}
