section.hero-banner-small {
	width: 1200px;
	margin: 0 auto;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 307px;
	border-bottom: 7px solid #58585a;
	&.hero-banner-without-border {
		border-bottom: none;
	}
	.container {
		margin: 0;
		padding: 0 50px;
		h1 {
			margin-top: 0;
			padding-top: 25px;
			color: #7f817f;
			font-weight: 300;
			font-size: 30px;
			-webkit-font-smoothing: subpixel-antialiased;
			span {
				color: #e32c49;
			}
			@media (max-width: 650px) {
				font-size: 18px;
				line-height: 25px;
				span {
					font-size: 25px;
				}
			}
		}
		@media (max-width: 650px) {
			padding: 0 25px;
		}
	}
	&.flip {
		transform: scaleX(-1);
		h1, h4 {
			transform: scaleX(-1);
		}
	}
	@media (max-width: 650px) {
		height: 175px;
	}
	&.new {
		body.redesign & {
			// border-bottom: 0px;
			border-top: 1px solid #e7e7e7;
			height: 301px;
			h1 {
				// font-size: 27px;
				color: $secondary_color;
				// margin: 10px 0;

				font-size: 30px;
			    line-height: 30px;
			    margin: 0;
			    padding: 0;
			    font-size: 30px;
			    -webkit-font-smoothing: subpixel-antialiased;
			    line-height: normal;
		        padding-top: 25px;
			}
			h4 {
				font-weight: 300;
				// margin: 10px 0;
				color: #7f817f;

				font-size: 30px;
			    line-height: 30px;
			    margin: 0;
			    padding: 0;
			    font-size: 30px;
			    -webkit-font-smoothing: subpixel-antialiased;
			    line-height: normal;
			    margin-bottom: 20px;
			}
		}
	}
}
.hero-banner-wrapper {
	max-width: 100%;
	overflow: hidden;
}

// @media (max-width: 1200px) {
// 	section.hero-banner-small {
// 		width: 100%;
// 	}
// }