.icon-box-content {
	.cta_button  {
		text-decoration: none;
	}
}

.icon-box{
	width: 100%;
	.icon-wrapper{
		display: block;
		text-decoration: none;
		transition: all 0.3s linear;
		border-right: 1px solid #ddd;
		@media (max-width: 800px) {
		     padding: 30px 0px;
		     border-top: 1px solid #ddd;
		     border-right: 0px;
		     width: 100%;
		}
		&:hover{
			background-color: #f0f0f0;
		}
		.icon{
			background-size: cover;
			background-position: center center;
			width: 75px;
			height: 75px;
			margin: 10px auto;
		}
		h3{
			margin: 0;
		    padding: 7px 0 0;
		    text-align: center;
		    font: 14px Montserrat,Arial,Verdana;
		    color: #969593;
		    text-transform: uppercase;
		    letter-spacing: 1.25px;
		}
	}
}