section.newsroom-block {
	padding-bottom: 10px;
	float: left;
	h3 {
		margin-top: 10px !important;
	}
	.img-wrapper {
		float: left;
		margin-right: 35px;
		margin-top: 13px;
		max-width: 300px;
	}
	.text-wrapper {
		p {
			font-family: Lato, Verdana, Arial;
		}
		a {
			color: #7f817f;
		}
	}
}