.cr-single-person{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 36px;
	@media (max-width: 800px){
		flex-direction: column;
	}
	.left{
		img{
			height: auto;
		}
	}
	.right{
		margin-left: 35px;
		@media (max-width: 800px){
			margin-left: 0px;
			margin-top: 15px;
		}
		h2{
			font-size: 20px;
    		line-height: 27px;
    		font-weight: 900;
    		margin: 0px;
		}
		p{
			font-family: 'Lato';
			color: #58585a;
			margin-top: 12px;
			a{
				text-decoration: underline;
    			color: #7f817f;
    			font-weight: 600;
			}
			&:last-of-type {
				margin-top: 10px;
			}
			&:first-of-type {
				margin-bottom: 15px;
			}
		}
	}
}