.cr-single-slide{
	width: 100%;
	height: auto;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
	position: relative;

	a{
		display: block;
		width: 100%;
		height: 100%;
		padding: 0;
		text-decoration: none;
		.content{
			padding-top: 25px;
			padding-bottom: 25px;
			padding-right: 4.1666666666%;
			padding-left: 4.1666666666%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: absolute;
			left: 0;
			top: 0;
			h1, h2{
				color: #e32c49;
				font-weight: 300;
				font-size:30px;
				line-height: 35px;
				margin:0;
				-webkit-font-smoothing: subpixel-antialiased;
				span{
					color: #7f817f;
					font-weight: 300;
					font-size:30px;
					line-height: 35px;
					margin:0;
					-webkit-font-smoothing: subpixel-antialiased;
				}
				@media (max-width: 650px) {
					font-size: 25px;
					line-height: 30px;
					span {
						font-size: 25px;
						line-height: 30px;
					}
				}
				@media (max-width: 500px) {
					font-size: 20px;
					line-height: 25px;
					span {
						font-size: 20px;
						line-height: 25px;
					}
				}
			}
			img{
				height: auto;
				@media (max-width: 767px){
					margin-bottom: 20px;
				}

			}
		}
	}
}

