
.search{
	display: inline-block;
	margin-left: 38px;
	position: relative;
	.search-form{
		position: absolute;
		right: -19px;
		top:-13px;
		overflow:hidden;
		width:313px;
		opacity: 0;
		z-index: -1;
		text-align:left;
		transition:opacity ease-in-out 0.3s;
		background-color: #e32c49;
		&.active{
			opacity:1;
			z-index:99999999;
		}
		#hs-search-module{
			display: block;
			width:313px;
			background-color: #e32c49;
			padding:9px 0px 9px 0px;

		}
		label{
			font-family:'Montserrat';
			font-size:10px;
			padding-left:16px;
			padding-right:16px;
			color:#fff;
			text-transform:uppercase;
			display: inline-block;
		}
		div.input{
			display: inline-block;
			input.hs-input{
				//display: none;
				height: 30px;
				width: 187px;
				border:0px;
				border-radius:9px;
			}
		}
		a{
			position: absolute;
			top:50%;
			transform:translateY(-50%);
			right:19px;
			padding-top:0px;
			display: block;
			cursor: pointer;
			&:after{
				content:"";
				width:15px;
				height: 13px;
				margin-top:0px;
				display: block;
				background-repeat:no-repeat;
				background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/search-white.png');

			}
		}
	}
	.search-btn{
			position: relative;
			top:4px;
			cursor:pointer;
		&:after{
			content:"";
			width:15px;
			height: 13px;
			margin-top:0px;
			display: block;
			background-repeat:no-repeat;
			background-image: url('https://cdn2.hubspot.net/hubfs/2958970/CR%20Templates/search.png');
		}
	}
}
.mobile-language {
	.secound-menu-languages {
		ul {
			position: relative;
			padding-left: 65px;
			&:before {
				position: absolute;
				top: 15px;
				content: 'LANGUAGE';
				font-family: 'Montserrat';
				left: 0;
			    font-size: 10px;
			    color: rgba(0,0,0,0.6);
			    text-transform: uppercase;
			    display: inline-block;
			}
			li {
				display: inline-block;
				color: red;
				a {
					padding: 10px;
				}
			}
		}
	}
}
.mobile-search {
	max-height: 40px;
	.search {
		height: 40px;
		margin: 0;
		width: 100%;
		.search-form {
			top: 0;
			right: 0;
			left: 0;
			height: 40px;
			opacity: 1;
			z-index: 1000;
			width: 100%;
			a {
				padding-top: 9px;
				padding-right: 7px;
			}
			#hs-search-module {
				height: 40px;
				width: 100%;
				padding: 0;
				.hs-form {
					height: 100%;
					label {
					    margin-top: 14px;
						width: 15%;
					}
					> div {
						height: 100%;
						width: 100%;
						label {
							position: absolute;
						    top: 0;
						    left: 0;
						    padding: 0;
							margin: 0;
						    margin-left: 20px;
						    margin-top: 0;
						    line-height: 40px;
						}
						div.input {
						    width: calc(100% - 130px);
							margin: 5px 50px 5px 80px;
							input {
								margin: 2px 0;
								width: 100%;
								height: 26px;
								padding: 0 10px;
							}
							> a {
								position: absolute;
							    top: 20px;
							    right: 0;
							    padding: 13px 12px 14px 15px;
							    margin: 0;
							    &:hover {
							    	background: #cf2842;
							    }
							}
						}
					}
				}
			}
		}
		.search-btn {
			display: none;
			padding: 12px 10px;
		}
	}
}