.video-module-new {
	max-width: 525px;
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.6);
	.mejs {
		&__overlay {
			background-color: rgba(0, 0, 0, 0.8);
			h4 {
				&.title {
					position: absolute;
					color: #fff;
					text-transform: uppercase;
					text-align: center;
					font-family: 'Montserrat', sans-serif;
					font-size: em(14);
					line-height: 1em;
					font-weight: 500;
					left: 50%;
					top: 60%;
					transform: translate(-50%,-50%);
					letter-spacing: 1.2px;				
				}
			}
			&-button {
				margin: -60px 0 0 -40px;
			}
		}
	}
}

.form-section img{
	height:auto;
}
.video-container iframe{
	height:295px;
}
@media screen and (max-width: 1024px) {
    .video-container iframe{
	height:250px;
	}
}
@media screen and (max-width: 767px) {
    .video-container iframe{
	height:300px;
	}
}

@media screen and (max-width: 480px) {
    .video-container iframe{
	height:250px;
	}
}